<div class ="container border p-3 my-1 ">
    <p class = "text-left" style="font-size:18px;margin-top:1px;padding-bottom:0px;line-height:0px;font-weight:bold;">Section VI: Comments (Optional)</p>
    <div class="row" style="border:1px solid black;height:29px;">
        <div class="col-md-12" style="border-right:1px solid black;padding-top:2px;padding-bottom:0px">
            <p class="text-left" style="font-weight:bold"> Reviewer Comments</p>
        </div>
    </div>
    <div class="row " style="border:1px solid black;">
        <div class="col-md-12 form-group">
            <textarea class="form-control" id="input-textArea-responsibility" rows="8" style="margin-top: 10px">{{ section.reviewerComments }}</textarea>
        </div>
    </div> 
    <div class="row" style="border:1px solid black;height:29px;">
        <div class="col-md-12" style="border-right:1px solid black;padding-top:2px;padding-bottom:0px">
            <p class="text-left"><span style="font-weight:bold">Employee Comments</span> (Employee may comment on the performance evaluation in the space provided below)</p>
        </div>
    </div>
    <div class="row " style="border:1px solid black;">
        <div class="col-md-12 form-group">
            <textarea class="form-control" id="input-textArea-responsibility" rows="8" style="margin-top: 10px">{{ section.employeeComments}}</textarea>
        </div>
    </div> 
</div>