<div class ="container border p-3 my-1 ">
    <p class = "text-left" style="font-size:18px;margin-top:1px;padding-bottom:0px;line-height:0px;font-weight:bold;">Section V: Narrative Summary and Assessment</p>
    <div class="row" style="border:1px solid black;height:43px;">
        <div class="col-md-12" style="border-right:1px solid black;padding-top:2px;padding-bottom:0px">
            <p class="text-left"><b> Rater Comments :</b> (Write a brief description of overall performance for the review period, along with details of individual areas of exceptional performance (rating of <b>3</b> or <b>4</b>) or of performance needing more attention or improvement (rating of <b>1</b>).</p>
        </div>
    </div>
    <div class="row " style="border:1px solid black;">
        <div class="col-md-12 form-group">
            <textarea class="form-control" id="input-textArea-responsibility" rows="8" style="margin-top: 10px">{{ section.summary }}</textarea>
        </div>
    </div> 
</div>