<div class="container w-25">
    <h2>Login</h2>
    <div>
        <div class="form-group">
            <label for="username">SAP #:</label>
            <input type="text" class="form-control" name="username" />
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" name="password" />
        </div>
        <div>
            <button class="btn btn-primary" (click)="buttonLogin()">Login</button>
        </div>
    </div>
</div>
