<div align="left">
    <p style="margin:0;padding:0;line-height:5px;"><span style="color: red;">*</span>=Required fields</p>
</div>
<div class = "container">
    <div align="center">
        <p style="font-size:24px;margin:0;padding:0;line-height:25px;font-weight:bold;">City of San Antonio</p>
        <p style="font-size:21px;margin:0;padding:0;line-height:25px;font-weight:bold;">Employee Performance Evaluation</p>
        <p style="font-size:18.5px;margin:0;padding:0;line-height:25px;font-weight:bold;">Step Pay Plan</p>
    </div>
</div>
<div class="m-3">
        <!-- This is the top section of the form -->
        <app-section-employee-information></app-section-employee-information>
        <!--Rating Descriptions-->
        <div class ="container border p-3 my-1 ">
            <p class = "text-left" style="font-size:15px;margin:0px;padding-bottom:10px;line-height:0px;font-weight:bold;">Rating Descriptions</p>
            <div class="row " style="border:1px solid black;">
                <div class="col-md-3 " style="border-right:1px solid black;padding-top:9px;padding-bottom:0px">
                    <p class="text-center">1-Improvement Needed</p>
                </div>
                <div class="col-md-3 " style="border-right:1px solid black;padding-top:9px;padding-bottom:0px">
                    <p class="text-center">2-Achieves Expectations</p>
                </div>
                <div class="col-md-3" style="border-right:1px solid black;padding-top: 9px;padding-bottom: 0px">
                    <p class="text-center">3-Exceptional</p>
                </div>
                <div class="col-md-3" style="padding-top: 9px;padding-bottom: 0px">
                    <p class="text-center">4-Outstanding</p>
                </div>
            </div>
            <div class="row " style="border:1px solid black">
                <div class="col-md-3" style="border-right:1px solid black;padding-top:0px;padding-bottom:0px">
                    <p class="text-center">Does not meet the requirements of the job, task or project. Improvement is needed.</p>
                </div>
                <div class="col-md-3" style="border-right:1px solid black;padding-top:0px;padding-bottom:0px">
                    <p class="text-center">Successfully meets the requirements of the job, task or project. Performance consistently meets standards.</p>
                </div>
                <div class="col-md-3" style="border-right:1px solid black;padding-top: 0px;padding-bottom: 0px">
                    <p class="text-center">Exceeds the requirements of the job, task or project. Performance is characterized by consistent high achievement.</p>
                </div>
                <div class="col-md-3" style="padding-top: 0px;padding-bottom: 0px">
                    <p class="text-center">Far exceeds the requirements of the job, task or project. Performance consistently shows outstanding achievement far above expectations.</p>
                </div>
            </div>
        </div>
        <!-- Section I -->
        <app-section-responsibilities-and-goals></app-section-responsibilities-and-goals>
        <!--Section II Core Values-->
        <app-section-core-values></app-section-core-values>
        <!--Section III Leadership-->
        <div class ="container border p-3 my-1 ">
            <p class = "text-left" style="font-size:18px;margin-top:8px;padding-bottom:0px;line-height:0px;font-weight:bold;">Section III:  Leadership Assessment (for Supervisors and above)</p>
            <div class="row" style="border:1px solid black;height:25px;">
                <div class="col-md-11" style="border-right:1px solid black;padding-top:2px;padding-bottom:0px">
                    <p class="text-left">Indicate the Employee's performance level by assigning a rating for each attribute.</p>
                </div>
                    <div class="col-md-1" style="padding-top: 2px;padding-bottom: 0px">
                    <p class="text-center">Rating</p>
                </div>
            </div>            
            <div class="row " style="border:1px solid black;">
                <div class="col-md-3 " style="border-right:1px solid black;padding-top:9px;padding-bottom:0px">
                    <p class="text-left" style="font-weight: bold;font-size:19px"><br><br>Leadership and Development</p>
                </div>
                <div class="col-md-8 " style="border-right:1px solid black;padding-top:9px;padding-bottom:0px">
                    <p class="text-left">Leadership is clear, undisputed, and supported by team members<br>Handles conflict between team members quickly and effectively<br>Clearly communicates time lines and expectations to team members<br>Facilitates communication to ensure that team members are informed about issues, progress, and next steps<br>Ensures team members have opportunities to develop their skills</p>
                </div>
                <div class="col-md-1" style="padding-top: 9px;padding-bottom: 0px">
                    <br><br><input class="center-block" style="width: 30px;"type="text">
                </div>
            </div>
            <div class="row " style="border:1px solid black;">
                <div class="col-md-3 " style="border-right:1px solid black;padding-top:9px;padding-bottom:0px">
                    <p class="text-left" style="font-weight: bold;font-size:19px"><br>Strategic Thinking</p>
                </div>
                <div class="col-md-8 " style="border-right:1px solid black;padding-top:9px;padding-bottom:0px">
                    <p class="text-left">Understands and uses financial indicators/metrics to measure performance<br>Identifies, recruits, and retains great talent that expands our capability and mirrors our customer base</p>
                </div>
                <div class="col-md-1" style="padding-top: 9px;padding-bottom: 0px">
                    <br><input class="center-block" style="width: 30px;"type="text">
                </div>
            </div>
            <div class="row " style="border:1px solid black;">
                <div class="col-md-3 " style="border-right:1px solid black;padding-top:9px;padding-bottom:0px">
                    <p class="text-left" style="font-weight: bold;font-size:19px"><br>Drives Excellence</p>
                </div>
                <div class="col-md-8 " style="border-right:1px solid black;padding-top:9px;padding-bottom:0px">
                    <p class="text-left">Holds employees accountable for performance<br>Communicates with business partners at all levels regularly, accurately, and in detail<br>Focuses on process and operational consistency to reduce cost, improve performance, and meet targeted budget goals</p>
                </div>
                <div class="col-md-1" style="padding-top: 9px;padding-bottom: 0px">
                    <br><input class="center-block" style="width: 30px;"type="text">
                </div>
            </div>
            <div class="row " style="border:1px solid black;">
                <div class="col-md-3 " style="border-right:1px solid black;padding-top:9px;padding-bottom:0px">
                    <p class="text-left" style="font-weight: bold;font-size:19px">Decision-Making</p>
                </div>
                <div class="col-md-8 " style="border-right:1px solid black;padding-top:9px;padding-bottom:0px">
                    <p class="text-left">Causes and underlying issues are analyzed to fully understand situation/choices prior to decision-making<br>Empowers team to solve problems and make decisions</p>
                </div>
                <div class="col-md-1" style="padding-top: 9px;padding-bottom: 0px">
                    <input class="center-block" style="width: 30px;"type="text">
                </div>
            </div>
            <div class="row " style="border:1px solid black;">
                <div class="col-md-3 " style="border-right:1px solid black;padding-top:9px;padding-bottom:0px">
                    <p class="text-left" style="font-weight: bold;font-size:19px">Professional Development Plan</p>
                </div>
                <div class="col-md-8 " style="border-right:1px solid black;padding-top:9px;padding-bottom:0px">
                    <p class="text-left">Employee follow-through on the Professional Development Plan outlined in Section IV</p>
                </div>
                <div class="col-md-1" style="padding-top: 9px;padding-bottom: 0px">
                    <input class="center-block" style="width: 30px;"type="text">
                </div>
            </div>
        </div>
        <!-- Section IV -->
        <div class ="container border p-3 my-1 ">
            <p class = "text-left" style="font-size:18px;margin-top:15px;padding-bottom:0px;line-height:0px;font-weight:bold;">Section IV: Professional Development Plan</p>
            <div class="row" style="border:1px solid black;height:43px;">
                <div class="col-md-11" style="border-right:1px solid black;padding-top:2px;padding-bottom:0px">
                    <p class="text-left"><span style="font-weight:bold"> Goals and Milestones:</span>List specific goals for Professional Development the Employee will achieve over the next twelve (12) months, and the time frame or target completion date for each objective. (Limit entries to one (1) objective per row.)</p>
                </div>
                    <div class="col-md-1" style="padding-top: 2px;padding-bottom: 0px">
                        <button type="button" class="btn btn-secondary">Add</button>
                </div>
            </div>
            <div class="row " style="border:1px solid black;">
                <div class="col-md-1 " style="border-right:1px solid black;padding-top:9px;padding-bottom:0px">
                    <p class="text-center" style="font-size:16px">Goal: 1</p>
                </div>
                <div class="col-md-10" style="border-right:1px solid black;padding-top: 9px;padding-bottom: 0px">
                    <label style="padding-right: 15px">Time Frame or Target completion Date:</label>
                    <input class="number" style="width: 600px;"type="text">
                </div>
                <div class="col-md-1" style="padding-top: 5px;padding-bottom: 2px">
                    <button type="button" class="btn btn-danger">Delete</button>
                </div>
            </div> 
            <div class="row " style="border:1px solid black;">
                <div class="col-md-12 form-group">
                    <textarea class="form-control" id="input-textArea-responsibility" rows="2" style="margin-top: 10px"></textarea>
                </div>
            </div> 
        </div>
         <!-- Section V -->
        <div class ="container border p-3 my-1 ">
            <p class = "text-left" style="font-size:18px;margin-top:1px;padding-bottom:0px;line-height:0px;font-weight:bold;">Section V: Narrative Summary and Assessment</p>
            <div class="row" style="border:1px solid black;height:43px;">
                <div class="col-md-12" style="border-right:1px solid black;padding-top:2px;padding-bottom:0px">
                    <p class="text-left"><b> Rater Comments :</b> (Write a brief description of overall performance for the review period, along with details of individual areas of exceptional performance (rating of <b>3</b> or <b>4</b>) or of performance needing more attention or improvement (rating of <b>1</b>).</p>
                </div>
            </div>
            <div class="row " style="border:1px solid black;">
                <div class="col-md-12 form-group">
                    <textarea class="form-control" id="input-textArea-responsibility" rows="8" style="margin-top: 10px"></textarea>
                </div>
            </div> 
        </div>
        <!-- Section VI -->
        <div class ="container border p-3 my-1 ">
            <p class = "text-left" style="font-size:18px;margin-top:1px;padding-bottom:0px;line-height:0px;font-weight:bold;">Section VI: Comments (Optional)</p>
            <div class="row" style="border:1px solid black;height:29px;">
                <div class="col-md-12" style="border-right:1px solid black;padding-top:2px;padding-bottom:0px">
                    <p class="text-left" style="font-weight:bold"> Reviewer Comments</p>
                </div>
            </div>
            <div class="row " style="border:1px solid black;">
                <div class="col-md-12 form-group">
                    <textarea class="form-control" id="input-textArea-responsibility" rows="8" style="margin-top: 10px"></textarea>
                </div>
            </div> 
            <div class="row" style="border:1px solid black;height:29px;">
                <div class="col-md-12" style="border-right:1px solid black;padding-top:2px;padding-bottom:0px">
                    <p class="text-left"><span style="font-weight:bold">Employee Comments</span> (Employee may comment on the performance evaluation in the space provided below)</p>
                </div>
            </div>
            <div class="row " style="border:1px solid black;">
                <div class="col-md-12 form-group">
                    <textarea class="form-control" id="input-textArea-responsibility" rows="8" style="margin-top: 10px"></textarea>
                </div>
            </div> 
        </div>
        <!-- Signatures -->
        <div class="container border p-3 my-1">
            <label>Signatures:</label>
            <div class="row">
                <label class="col-md-3">Manager or Supervisor:</label>
                <input type="text" class="col-md-3">
                <label class="col-sm-1" >Date:</label>
                <input type="text" class="col-md-2">
                <label class="col-sm-1">SAP #:</label>
                <input type="text" class="col-md-2">
            </div>
            <div class="row">
                <label class="col-md-3">Review Officer:</label>
                <input type="text" class="col-md-3">
                <label class="col-sm-1" >Date:</label>
                <input type="text" class="col-md-2">
                <label class="col-sm-1">SAP #:</label>
                <input type="text" class="col-md-2">
            </div>
            <div class="row">
                <label class="col-md-3">Employee:</label>
                <input type="text" class="col-md-3">
                <label class="col-sm-1" >Date:</label>
                <input type="text" class="col-md-2">
                <label class="col-sm-1">SAP #:</label>
                <input type="text" class="col-md-2">
            </div>
        </div>
        <!-- Agree or Disagree -->
        <div class ="container border p-3 my-1 ">
            <div class="row" style="border:1px solid black;">
                <div class="col-md-2" style="border-right:1px solid black;padding-top:2px;padding-bottom:0px">
                    <p class="text-left">4-Outstanding<br>3-Exceeds Expectations<br>2-Achieves Expectations<br>1-Improvement Needed</p>
                </div>
                <div class="col-md-2" style="border-right:1px solid black;padding-top:2px;padding-bottom:0px">
                    <p style="text-align: center;">Overall Rating</p>
                    <p style="font-size:50px;text-align:center">3</p>
                </div>
                <div class="col-md-2" style="border-right:1px solid black;padding-top:2px;padding-bottom:0px">
                    <label class="agree-disagree-label"style="padding-right:30px;"><input type="radio" name="agree-disagree-input">Agreee with Rating</label>
                    <label class="agree-disagree-label" ><input type="radio" name="agree-disagree-input">Disagree with Rating</label>
                </div>
                <div class="col-md-6" style="padding-top:2px;padding-bottom:0px">
                    <p style="font-size:12px;font-weight:bold">• Signing your performance evaluation acknowledges the evaluation has been discussed with you.<br>• If you disagree with the overall rating, you may submit an appeal in writing to the Reviewer listed above, using the Appeal Form found on FormsNet.<br>• Appeal must be received by the Reviewing Officer within ten (10) working days beginning the day after the employee receives this evaluation or when a witness signs that the employee received this evaluation.</p>
                </div>
            </div>
        </div>
</div>
