<div class ="container border p-3 my-1 ">
    <p class = "text-left" style="font-size:18px;margin-top:15px;padding-bottom:0px;line-height:0px;font-weight:bold;">Section IV: Professional Development Plan</p>
    <div class="row" style="border:1px solid black;height:43px;">
        <div class="col-md-11" style="border-right:1px solid black;padding-top:2px;padding-bottom:0px">
            <p class="text-left"><span style="font-weight:bold"> Goals and Milestones:</span>List specific goals for Professional Development the Employee will achieve over the next twelve (12) months, and the time frame or target completion date for each objective. (Limit entries to one (1) objective per row.)</p>
        </div>
            <div class="col-md-1" style="padding-top: 2px;padding-bottom: 0px">
                <button type="button" class="btn btn-secondary">Add</button>
        </div>
    </div>
    <div class="row " style="border:1px solid black;">
        <div class="col-md-1 " style="border-right:1px solid black;padding-top:9px;padding-bottom:0px">
            <p class="text-center" style="font-size:16px">Goal: 1</p>
        </div>
        <div class="col-md-10" style="border-right:1px solid black;padding-top: 9px;padding-bottom: 0px">
            <label style="padding-right: 15px">Time Frame or Target completion Date:</label>
            <input class="number" style="width: 600px;"type="text">
        </div>
        <div class="col-md-1" style="padding-top: 5px;padding-bottom: 2px">
            <button type="button" class="btn btn-danger">Delete</button>
        </div>
    </div> 
    <div class="row " style="border:1px solid black;">
        <div class="col-md-12 form-group">
            <textarea class="form-control" id="input-textArea-responsibility" rows="2" style="margin-top: 10px"></textarea>
        </div>
    </div> 
</div>