<div class ="container border p-3 my-1 ">
    <p class = "text-left" style="font-size:18px;margin-top:8px;padding-bottom:0px;line-height:0px;font-weight:bold;">Section III:  Leadership Assessment (for Supervisors and above)</p>
    <div class="row" style="border:1px solid black;height:25px;">
        <div class="col-md-11" style="border-right:1px solid black;padding-top:2px;padding-bottom:0px">
            <p class="text-left">Indicate the Employee's performance level by assigning a rating for each attribute.</p>
        </div>
            <div class="col-md-1" style="padding-top: 2px;padding-bottom: 0px">
            <p class="text-center">Rating</p>
        </div>
    </div>            
    <div class="row " style="border:1px solid black;">
        <div class="col-md-3 " style="border-right:1px solid black;padding-top:9px;padding-bottom:0px">
            <p class="text-left" style="font-weight: bold;font-size:19px"><br><br>Leadership and Development</p>
        </div>
        <div class="col-md-8 " style="border-right:1px solid black;padding-top:9px;padding-bottom:0px">
            <p class="text-left">Leadership is clear, undisputed, and supported by team members<br>Handles conflict between team members quickly and effectively<br>Clearly communicates time lines and expectations to team members<br>Facilitates communication to ensure that team members are informed about issues, progress, and next steps<br>Ensures team members have opportunities to develop their skills</p>
        </div>
        <div class="col-md-1" style="padding-top: 9px;padding-bottom: 0px">
            <br><br><input class="center-block" style="width: 30px;"type="text" [(ngModel)]="section.ratings['leadership_and_development']">
        </div>
    </div>
    <div class="row " style="border:1px solid black;">
        <div class="col-md-3 " style="border-right:1px solid black;padding-top:9px;padding-bottom:0px">
            <p class="text-left" style="font-weight: bold;font-size:19px"><br>Strategic Thinking</p>
        </div>
        <div class="col-md-8 " style="border-right:1px solid black;padding-top:9px;padding-bottom:0px">
            <p class="text-left">Understands and uses financial indicators/metrics to measure performance<br>Identifies, recruits, and retains great talent that expands our capability and mirrors our customer base</p>
        </div>
        <div class="col-md-1" style="padding-top: 9px;padding-bottom: 0px">
            <br><input class="center-block" style="width: 30px;"type="text" [(ngModel)]="section.ratings['strategic_thinking']">
        </div>
    </div>
    <div class="row " style="border:1px solid black;">
        <div class="col-md-3 " style="border-right:1px solid black;padding-top:9px;padding-bottom:0px">
            <p class="text-left" style="font-weight: bold;font-size:19px"><br>Drives Excellence</p>
        </div>
        <div class="col-md-8 " style="border-right:1px solid black;padding-top:9px;padding-bottom:0px">
            <p class="text-left">Holds employees accountable for performance<br>Communicates with business partners at all levels regularly, accurately, and in detail<br>Focuses on process and operational consistency to reduce cost, improve performance, and meet targeted budget goals</p>
        </div>
        <div class="col-md-1" style="padding-top: 9px;padding-bottom: 0px">
            <br><input class="center-block" style="width: 30px;"type="text" [(ngModel)]="section.ratings['drives_excellence']">
        </div>
    </div>
    <div class="row " style="border:1px solid black;">
        <div class="col-md-3 " style="border-right:1px solid black;padding-top:9px;padding-bottom:0px">
            <p class="text-left" style="font-weight: bold;font-size:19px">Decision-Making</p>
        </div>
        <div class="col-md-8 " style="border-right:1px solid black;padding-top:9px;padding-bottom:0px">
            <p class="text-left">Causes and underlying issues are analyzed to fully understand situation/choices prior to decision-making<br>Empowers team to solve problems and make decisions</p>
        </div>
        <div class="col-md-1" style="padding-top: 9px;padding-bottom: 0px">
            <input class="center-block" style="width: 30px;"type="text" [(ngModel)]="section.ratings['decision-making']">
        </div>
    </div>
    <div class="row " style="border:1px solid black;">
        <div class="col-md-3 " style="border-right:1px solid black;padding-top:9px;padding-bottom:0px">
            <p class="text-left" style="font-weight: bold;font-size:19px">Professional Development Plan</p>
        </div>
        <div class="col-md-8 " style="border-right:1px solid black;padding-top:9px;padding-bottom:0px">
            <p class="text-left">Employee follow-through on the Professional Development Plan outlined in Section IV</p>
        </div>
        <div class="col-md-1" style="padding-top: 9px;padding-bottom: 0px">
            <input class="center-block" style="width: 30px;"type="text" [(ngModel)]="section.ratings['professional_development_plan']">
        </div>
    </div>
</div>