<div class="m-3">
    <!-- Section 1 -->
    <!-- This is the top section of the form -->
    <div class="container border p-3 my-1">

        <!-- Employee Name and SAP Number -->
        <div class="row">
            <div class="col-md-2">
                <p class="text-left">Employee Name:</p>
            </div>
            <div class="col-md-4">
                <input type="text">
            </div>
            <div class="col-md-2">
                <p class="text-left">Employee SAP#:</p>
            </div>
            <div class="col-md-4">
                <input type="text">
            </div>
        </div>

        <!-- Title and Reporting Period -->
        <div class="row">
            <div class="col-md-2">
                <p class="text-left">Title:</p>
            </div>
            <div class="col-md-4">
                <input type="text">
            </div>
            <div class="col-md-2">
                <p class="text-left">Reporting Period:</p>
            </div>
            <div class="col-md-4">
                <input type="text">
            </div>
        </div>

        <!-- Department and Division -->
        <div class="row">
            <div class="col-md-2">
                <p class="text-left">Department:</p>
            </div>
            <div class="col-md-4">
                <select class="selectpicker w-75">
                    <option>Department 1</option>
                    <option>Department 2</option>
                    <option>Department 3</option>
                </select>
            </div>
            <div class="col-md-2">
                <p class="text-left">Division:</p>
            </div>
            <div class="col-md-4">
                <input type="text">               
            </div>
        </div>

        <!-- Review Type -->
        <div class="row">
            <div class="col-md-2">
                <p class="text-left">Review Type:</p>
            </div>
            <div class="col-md-4">
                <label class="radio-inline"><input type="radio" name="input-radio-reviewType">Planning</label>
                <label class="radio-inline"><input type="radio" name="input-radio-reviewType">Annual</label>
            </div>
        </div>

        <!-- Supervisor or Above? -->
        <div class="row">
            <div class="col-md-2">
                <p class="text-left">Supervisor or Above?</p>
            </div>
            <div class="col-md-4">
                <label class="radio-inline"><input type="radio" name="input-radio-supervisorOrAbove">Yes</label>
                <label class="radio-inline"><input type="radio" name="input-radio-supervisorOrAbove">No</label>
            </div>
        </div>

    </div>

    <!-- Responsbility and Summary Entry -->
    <div class="container border p-3 my-1">
        <div>
            <p class="text-left">Entry 1</p>
            <button type="button" class="btn btn-danger float-right">Delete</button>
            <label>Item Evaluation Weight Percentage:</label>
            <input type="number">
            <label>Rating</label>
            <input type="number">
        </div>
        <div class="form-group">
            <label for="input-textArea-responsibility">Responsibility/Goal:</label>
            <textarea class="form-control" id="input-textArea-responsibility" rows="2"></textarea>
        </div>
        <div class="form-group">
            <label for="input-textArea-summary">Summary of actual performance results:</label>
            <textarea class="form-control" id="input-textArea-summary" rows="3"></textarea>
        </div>
    </div>

    <!-- Add Entry -->
    <div class="container p-3 my-1">
        <button type="button" class="btn btn-secondary">Add</button>
    </div>

    <!-- Signatures -->
    <div class="container border p-3 my-1">
        <label>Signatures:</label>
        <div class="row">
            <label class="col-md-3">Manager or Supervisor:</label>
            <input type="text" class="col-md-3">
            <label class="col-sm-1" >Date:</label>
            <input type="text" class="col-md-2">
            <label class="col-sm-1">SAP #:</label>
            <input type="text" class="col-md-2">
        </div>
        <div class="row">
            <label class="col-md-3">Review Officer:</label>
            <input type="text" class="col-md-3">
            <label class="col-sm-1" >Date:</label>
            <input type="text" class="col-md-2">
            <label class="col-sm-1">SAP #:</label>
            <input type="text" class="col-md-2">
        </div>
        <div class="row">
            <label class="col-md-3">Employee:</label>
            <input type="text" class="col-md-3">
            <label class="col-sm-1" >Date:</label>
            <input type="text" class="col-md-2">
            <label class="col-sm-1">SAP #:</label>
            <input type="text" class="col-md-2">
        </div>
    <div>

</div>