<div align="left">
	<p style="margin:0;padding:0;line-height:5px;"><span style="color: red;">*</span>=Required fields</p>
</div>
<div align="center">
    <p style="font-size:24px;margin:0;padding:0;line-height:25px;font-weight:bold;">City of San Antonio</p>
    <p style="font-size:21px;margin:0;padding:0;line-height:25px;font-weight:bold;">Employee Performance Evaluation</p>
    <p style="font-size:18.5px;margin:0;padding:0;line-height:25px;font-weight:bold;">Notification of Appeal Rights</p>
</div>
<div class="container">
	<div align="left">
		<p></p>
		<p style="font-size:11px;margin:0;padding:0;line-height:11px;"><i><b>The appeal is <u>due to the Reviewing Officer within ten (10) City working days</u> after an Employee has signed the annual review evaluation.</b> Upon receipt of written appeal, the Reviewing Officer will have ten (10) City working days to respond to the Employee. Should the Employee then disagree with the Reviewing Officer's decision, the Employee may further appeal, in writing, within ten (10) City working days to the Department Director. The Department Director will also have ten (10) City working days to respond to the Employee. During the appeal process, the Director is free to consult with or obtain information from others as needed to make an appeal decision. The Department Director's decision is final.</i></p>
	</div>
	<div align="center">
		<p style="border:1px solid black;line-height:30px;font-weight:bold;margin-top: 0;margin-bottom: 0;background-color: #99ccff;">To be completed by Employee appealing an Overall Rating in an Annual Review</p>
	</div>
	<p></p>
	<div class="row">  
    	<div class="col-md-1.5"><span style="color: red">&emsp;*</span>Employee Name:</div>
    	<div class="col-md-7">
       		<input style="width: 635px;background-color:#ccddff;"type="text">
    	</div>
    	<div class="col-md-2.75"><span style="color: red">&emsp;*</span>Employee SAP Number:</div>
   		<div class="col-md-1">
    		<input style="width: 125px;background-color:#ccddff;"type="text">
   		</div>
	</div>
	<div class="row mt-2">
   	<div class="col-md-1.5">
       	<p class="text-left"><span style="color: red">&emsp;*</span>Department:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
	</div>
    <div class="col-md-7">
    <select class="selectpicker"style="width:635px;background-color:#ccddff;">
			<option>Department 1</option>
			<option>Department 2</option>
	        <option>Department 3</option>
	</select>
	</div>
	</div>
	<div class="row">  
   		<div class="col-md-1.5"><span style="color: red">&emsp;*</span>Rater's Name:&emsp;&nbsp;</div>
   		<div class="col-md-7">
      		<input style="width: 636px;background-color:#ccddff;"type="text">
   		</div>
    	<div class="col-md-2.75"><span style="color: red">&emsp;*</span>Rater's SAP Number:&emsp;&nbsp;</div>
   		<div class="col-md-1">
    		<input style="width: 125px;background-color:#ccddff;"type="text">
   		</div>
	</div>
	<div align="center">
		<p></p>
		<p style="border:1px solid black;line-height:30px;font-weight:bold;margin-top: 0;margin-bottom: 0;background-color: #99ccff;">Written Appeal</p>
	</div>
	<div align="left">
		<p style="border:1px solid black;line-height:15px;font-weight:bold;margin-top: 0;margin-bottom: 0;background-color: #a6a6a6;"><b><u>Instructions:</u></b><br/><span style="font-size:11px;">List in the space below the reason(s) for the appeal. List all points of disagreement with the Annual review Overall Rating, along with reasons why the rating should be different. (Attatch an additional page if needed.)</span></p>
	</div>
	<textarea rows="20" cols="121"style="background-color:#ccddff;">Input Text Here</textarea>
	<div class="row mt-1">  
    	<div class="col-md-1.5">&emsp;Reviewing Officer Signature:</div>
    	<div class="col-md-7">
       		<input style="width: 635px;"type="text">
    	</div>
    	<div class="col-md-2.75">&emsp;&emsp;&nbsp;&nbsp;Date Rec'd:</div>
   		<div class="col-md-1">
    		<input style="width: 157px;"type="text">
   		</div>
	</div>
	<div class="row mt-1">  
    	<div class="col-md-1.5">&emsp;Employee Signature:&emsp;</div>
    	<div class="col-md-7">
       		<input style="width: 635px;"type="text">
    	</div>
    	<div class="col-md-2.75">&emsp;&emsp;&nbsp;&nbsp;Date:</div>
   		<div class="col-md-1">
    		<input style="width: 125px;"type="text">
   		</div>
	</div>
</div>