<!-- Header -->
<div class="container">
    <div class="p-1 my-3" align="center">
        <p style="font-size:24px;margin:0;padding:0;line-height:25px;font-weight:bold;">City of San Antonio</p>
        <p style="font-size:21px;margin:0;padding:0;line-height:25px;font-weight:bold;">Employee Performance Evaluation</p>
        <p style="font-size:18.5px;margin:0;padding:0;line-height:25px;font-weight:bold;">Notification of Appeal Rights</p>
    </div>
    <div class="p-1 my-3" align="left">
        <p></p>
        <p class="instruction"style="font-weight:bold;">The appeal is <u>due to the Reviewing Officer within ten (10) City working days</u> after an Employee has signed the annual review evaluation. Upon receipt of</p>
        <p class="instruction">written appeal, the Reviewing Officer will have ten (10) City working days to respond to the Employee. Should the Employee then disagree with the Reviewing Officer's</p>
        <p class="instruction">decision, the Employee may further appeal, in writing, within ten (10) City working days to the Department Director. The Department Director will also have ten (10) City</p>
        <p class="instruction">working days to respond to the Employee. During the appeal process, the Director is free to consult with or obtain information from others as needed to make an appeal</p>
        <p class="instruction">decision. The Department Director's decision is final.</p>
    </div>
    <div class="p-1 my-3" align="center">
        <p class="grey-background">To be completed by Employee appealing an Overall Rating in an Annual Review</p>
    </div>
    <div align="center">  
        <div>Employee Name</div>
        <input type="text">
        <div>Employee SAP#:</div>
        <input type="text">
    </div>
</div>