<!-- Header -->
<div align="center">
    <p style="font-size:24px;margin:0;padding:0;line-height:25px;font-weight:bold;">City of San Antonio</p>
    <p style="font-size:21px;margin:0;padding:0;line-height:25px;font-weight:bold;">Employee Performance Evaluation</p>
    <p style="font-size:18.5px;margin:0;padding:0;line-height:25px;font-weight:bold;">Notification of Appeal Rights</p>
</div>
<div align="left">
	<p></p>
	<p style="font-size:11px;margin:0;padding:0;line-height:11px;font-weight:bold;">The appeal is <u>due to the Reviewing Officer within ten (10) City working days</u> after an Employee has signed the annual review evaluation. Upon receipt of</p>
	<p style="font-size:11px;margin:0;padding:0;line-height:11px;">written appeal, the Reviewing Officer will have ten (10) City working days to respond to the Employee. Should the Employee then disagree with the Reviewing Officer's</p>
	<p style="font-size:11px;margin:0;padding:0;line-height:11px;">decision, the Employee may further appeal, in writing, within ten (10) City working days to the Department Director. The Department Director will also have ten (10) City</p>
	<p style="font-size:11px;margin:0;padding:0;line-height:11px;">working days to respond to the Employee. During the appeal process, the Director is free to consult with or obtain information from others as needed to make an appeal</p>
	<p style="font-size:11px;margin:0;padding:0;line-height:11px;">decision. The Department Director's decision is final.</p>
</div>
<div align="center">
	<p style="border:1px solid black;line-height:30px;font-weight:bold;margin-top: 0;margin-bottom: 0;background-color: #ADD8E6;">To be completed by Employee appealing an Overall Rating in an Annual Review</p>
</div>
<div class="row">  
    <div class="col">Employee Name</div>
    <div class="col">
        <input type="text">
    </div>
    <div class="col">Employee SAP#:</div>
    <div class="col">
    	<input type="text">
    </div>
</div>