.grey-background {
    border          : 1px solid black;
    line-height     : 30px;
    font-weight     : bold;
    margin-top      : 0;
    margin-bottom   : 0;
    background-color: #ADD8E6;
}
.instruction {
    font-size   : 11px;
    margin      : 0;
    padding     : 0;
    line-height : 11px;
}