<div class="container border p-3 my-1">
    
    <!-- Employee Name and SAP Number -->
    <div class="row">
        <div class="col-md-2">
            <p class="text-left"><span style="color: red">*</span>Employee Name:</p>
        </div>
        <div class="col-md-4">
            <input type="text" [(ngModel)]="section.name">
        </div>
        <div class="col-md-2">
            <p class="text-left"><span style="color: red">*</span>Employee SAP#:</p>
        </div>
        <div class="col-md-4">
            <input type="text" [(ngModel)]="section.employeeSAPNumber">
        </div>
    </div>

    <!-- Title and Reporting Period -->
    <div class="row">
        <div class="col-md-2">
            <p class="text-left"><span style="color: red">*</span>Title:</p>
        </div>
        <div class="col-md-4">
            <input type="text" [(ngModel)]="section.title">
        </div>
        <div class="col-md-2">
            <p class="text-left"><span style="color: red">*</span>Reporting Period:</p>
        </div>
        <div class="col-md-4">
            <input type="text" [(ngModel)]="section.reportingPeriod">
        </div>
    </div>

    <!-- Department and Division -->
    <div class="row">
        <div class="col-md-2">
            <p class="text-left"><span style="color: red">*</span>Department:</p>
        </div>
        <div class="col-md-4">
            <select class="selectpicker w-75" [(ngModel)]="section.department">
                <option *ngFor="let department of departments" [ngValue]="departments">{{department}}</option>
            </select>
        </div>
        <div class="col-md-2">
            <p class="text-left"><span style="color: red">*</span>Division:</p>
        </div>
        <div class="col-md-4">
            <input type="text" [(ngModel)]="section.division">               
        </div>
    </div>

    <!-- Review Type -->
    <div class="row">
        <div class="col-md-2">
            <p class="text-left"><span style="color: red">*</span>Review Type:</p>
        </div>
        <div class="col-md-4">
            <label 
                class="radio-inline"
                style="padding-right:30px;" >
                <input 
                    type="radio" 
                    name="input-radio-reviewType" 
                    [checked]="section.reviewType === 'planning'" 
                    (change)="section.reviewType = 'planning'" > 
                Planning 
            </label>
            <label 
                class="radio-inline" >
                <input 
                    type="radio" 
                    name="input-radio-reviewType" 
                    [checked]="section.reviewType === 'annual'" 
                    (change)="section.reviewType = 'annual'" >
                Annual
            </label>
        </div>
    </div>

    <!-- Supervisor or Above? -->
    <div class="row">
        <div class="col-md-2">
            <p class="text-left"><span style="color: red">*</span>Supervisor or Above?</p>
        </div>
        <div class="col-md-4">
            <label 
                class="radio-inline">
                <input 
                    type="radio" 
                    name="input-radio-supervisorOrAbove"
                    [checked]="section.isSupervisorOrAbove" 
                    (change)="section.isSupervisorOrAbove = true">
                    Yes
                </label>
            <label 
                class="radio-inline">
                <input 
                    type="radio" 
                    name="input-radio-supervisorOrAbove"
                    [checked]="!section.isSupervisorOrAbove" 
                    (change)="section.isSupervisorOrAbove = false">
                No
            </label>
        </div>
    </div>

</div>