<div class="container border p-3 my-1">
    
    <!-- Employee Name and SAP Number -->
    <div class="row">
        <div class="col-md-2">
            <p class="text-left"><span style="color: red">*</span>Employee Name:</p>
        </div>
        <div class="col-md-4">
            <input type="text">
        </div>
        <div class="col-md-2">
            <p class="text-left"><span style="color: red">*</span>Employee SAP#:</p>
        </div>
        <div class="col-md-4">
            <input type="text">
        </div>
    </div>

    <!-- Title and Reporting Period -->
    <div class="row">
        <div class="col-md-2">
            <p class="text-left"><span style="color: red">*</span>Title:</p>
        </div>
        <div class="col-md-4">
            <input type="text">
        </div>
        <div class="col-md-2">
            <p class="text-left"><span style="color: red">*</span>Reporting Period:</p>
        </div>
        <div class="col-md-4">
            <input type="text">
        </div>
    </div>

    <!-- Department and Division -->
    <div class="row">
        <div class="col-md-2">
            <p class="text-left"><span style="color: red">*</span>Department:</p>
        </div>
        <div class="col-md-4">
            <select class="selectpicker w-75">
                <option>Department 1</option>
                <option>Department 2</option>
                <option>Department 3</option>
            </select>
        </div>
        <div class="col-md-2">
            <p class="text-left"><span style="color: red">*</span>Division:</p>
        </div>
        <div class="col-md-4">
            <input type="text">               
        </div>
    </div>

    <!-- Review Type -->
    <div class="row">
        <div class="col-md-2">
            <p class="text-left"><span style="color: red">*</span>Review Type:</p>
        </div>
        <div class="col-md-4">
            <label class="radio-inline"style="padding-right:30px;"><input type="radio" name="input-radio-reviewType">Planning</label>
            <label class="radio-inline" ><input type="radio" name="input-radio-reviewType">Annual</label>
        </div>
    </div>

    <!-- Supervisor or Above? -->
    <div class="row">
        <div class="col-md-2">
            <p class="text-left"><span style="color: red">*</span>Supervisor or Above?</p>
        </div>
        <div class="col-md-4">
            <label class="radio-inline"><input type="radio" name="input-radio-supervisorOrAbove">Yes</label>
            <label class="radio-inline"><input type="radio" name="input-radio-supervisorOrAbove">No</label>
        </div>
    </div>

</div>