<div class="container border p-3 my-1">
    <label>Signatures:</label>
    <div class="row">
        <label class="col-md-3">Manager or Supervisor:</label>
        <input type="text" class="col-md-3">
        <label class="col-sm-1" >Date:</label>
        <input type="text" class="col-md-2">
        <label class="col-sm-1">SAP #:</label>
        <input type="text" class="col-md-2">
    </div>
    <div class="row">
        <label class="col-md-3">Review Officer:</label>
        <input type="text" class="col-md-3">
        <label class="col-sm-1" >Date:</label>
        <input type="text" class="col-md-2">
        <label class="col-sm-1">SAP #:</label>
        <input type="text" class="col-md-2">
    </div>
    <div class="row">
        <label class="col-md-3">Employee:</label>
        <input type="text" class="col-md-3">
        <label class="col-sm-1" >Date:</label>
        <input type="text" class="col-md-2">
        <label class="col-sm-1">SAP #:</label>
        <input type="text" class="col-md-2">
    </div>
</div>