<div class="container">	
    <div align="center">
        <p></p>
        <p style="border:1px solid black;line-height:30px;font-weight:bold;margin-top: 0;margin-bottom: 0;background-color: #99ccff;">Written Appeal</p>
    </div>
    <div align="left">
        <p style="border:1px solid black;line-height:15px;font-weight:bold;margin-top: 0;margin-bottom: 0;background-color: #a6a6a6;"><b><u>Instructions:</u></b><br/><span style="font-size:11px;">List in the space below the reason(s) for the appeal. List all points of disagreement with the Annual review Overall Rating, along with reasons why the rating should be different. (Attatch an additional page if needed.)</span></p>
    </div>
    <textarea rows="20" cols="121">{{ section.appealText }}</textarea>
</div>