<div class="container">
    <div class="row">  
        <div class="col-md-1.5"><span style="color: red">&emsp;*</span>Employee Name:</div>
        <div class="col-md-7">
                <input style="width: 635px;"type="text" [(ngModel)]="section.employeeName">
        </div>
        <div class="col-md-2.75"><span style="color: red">&emsp;*</span>Employee SAP Number:</div>
            <div class="col-md-1">
            <input style="width: 125px;"type="text" [(ngModel)]="section.employeeSAPNumber">
            </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-1.5">
            <p class="text-left"><span style="color: red">&emsp;*</span>Department:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
    </div>
    <div class="col-md-7">
        <select class="selectpicker w-75" [(ngModel)]="section.department">
            <option *ngFor="let department of departments" [ngValue]="departments">{{department}}</option>
        </select>
    </div>
    </div>
    <div class="row">  
            <div class="col-md-1.5"><span style="color: red">&emsp;*</span>Rater's Name:&emsp;&nbsp;</div>
            <div class="col-md-7">
                <input style="width: 636px;"type="text" [(ngModel)]="section.ratersName">
            </div>
        <div class="col-md-2.75"><span style="color: red">&emsp;*</span>Rater's SAP Number:&emsp;&nbsp;</div>
            <div class="col-md-1">
            <input style="width: 125px;"type="text" [(ngModel)]="section.ratersSAPNumber">
            </div>
    </div>
</div>